parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/AbstractWebApplication.php

		-
			message: '#^Instanceof between DateTime and DateTime will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/AbstractWebApplication.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/AbstractWebApplication.php
